@font-face
{
    font-family:proxima;
    src:url(Boot/fonts/proxima.otf);
}
@font-face
{
    font-family:proxima-bold;
    src:url(../fonts/ProximaBold.otf);
}

a:hover{
    text-decoration:none;
}

body{
    background: #ccc;
    font-size:12px!important;
    color:#6B6B6B;
}

p{
    font-size:14px!important;
}



h1,h2,h3,h4,h5,h6{
    margin:0;
}

.container-fluid {
    padding-left: 14px;
}

@media only screen and (max-width : 992px) {
    .container-fluid {
        padding-left: 0;
    }
}


.info h5{
    padding:7px 15px;
    color:#333;
    box-shadow:0px 2px 2px rgba(0,0,0,0.3);
    font-size:20px;
    background:white;
}

.info section{
    height:150px;
}



.page-top{
    position:relative;
    width:100%;
    top:80px;
    color:white;
    height:60px;
    background:#2995cb;
}
.page-top h3{
    padding:15px 0;

}

.content{
    margin:-10px 1px 0px 2px;
    padding:20px 30px;
    background:white;
    box-shadow:0px 0px 2px 1px rgba(0,0,0,0.2);
    border-radius:3px;
}
.user-setting{
    float:right;
    position:fixed;
    top:10px;
    right:30px;
    z-index:20;
}

.dropdown-content li>a, .dropdown-content li>span {
    font-size: 14px;
    color: #333;
    display: block;
    padding: 10px 15px;
}




.search-box{
    padding:20px;
    height:80px;
}

.search:focus{
    outline:none;
}

.gallery li{
    padding-bottom: 10px;
    list-style: none;
    float: left;
    margin:0 15px 40px 0 ;
}
.gallery input[type=checkbox]{
    display: block;
    margin: 10px auto;
}
.gallery label{
    display: block;
}

.updateimage{
    margin-top: 19px;
}